import './App.css';
import Header from './componentes/Header';
import TaskInput from './componentes/TaskInput';
import TaskList from './componentes/TaskList';
import { useState } from 'react';

interface Task {
    id: number;
    text: string;
    done: boolean;
}

function App() {
    const [tasks, setTasks] = useState<Task[]>([]);

    const addTask = (text: string) => {
        const newTask: Task = {
            id: Date.now(),
            text: text,
            done: false,
        };
        setTasks([...tasks, newTask]);
    };

    const toggleTask = (id: number) => {
        setTasks(tasks.map(task =>
            task.id === id ? { ...task, done: !task.done } : task
        ));
    };

    const deleteTask = (id: number) => {
        setTasks(tasks.filter(task => task.id !== id));
    };

    return (
        <div className="app-container">
            <Header />
            <TaskInput onAdd={addTask} />
            <TaskList
                tasks={tasks}
                onToggle={toggleTask}
                onDelete={deleteTask}
            />
        </div>
    );
}

export default App;